# db connection string to the data shape server database
DB_URL=postgres://DBUSER:DBPASSWORD@DBHOST:5432/DBNAME

# db schema name where the shapes should be imported into
DB_SCHEMA=tweets_cov

# JSON file created by the schema extractor
INPUT_FILE=./data/extracted.json
