## import process behaviour

# should the importer replace existing db schema
OVERRIDE_DB_SCHEMA=false

# name of the db schema with the registry tables
REGISTRY_SCHEMA=public2


## mandatory parameters

# db connection string to the data shape server database
DB_URL=postgres://DBUSER:DBPASSWORD@DBHOST:5432/DBNAME

# JSON file created by the schema extractor
INPUT_FILE=../data/extracted.json

# db schema name where the shapes should be imported into
DB_SCHEMA=myschemaname


## optional parameters

# schema name for the UI; defaults to DB_SCHEMA
SCHEMA_DISPLAY_NAME="My first schema"

# description of the schema
SCHEMA_DESCRIPTION=

# URL for the SPARQL requests to the endpoint; usually provided in JSON to be imported
# SPARQL_URL=http://sparql.europeana.eu/

# named graph, if required; usually provided in JSON to be imported
# NAMED_GRAPH=

# public web site for the endpoint
PUBLIC_URL=https://www.europeana.eu

# kind of the schema (dbpedia, wikidata, europeana, ...)
# SCHEMA_KIND=default

# endpoint type (generic (default), virtuoso, blazegraph)
# ENDPOINT_TYPE=generic

